:root {
  /*======fontsVariable=====*/
  --main_font-weight: 400;
  --secondary_font-weight: 700;
  --third_font-weight: 500;
  --main_font-size: 14px;
  --secondary_font-size: 16px;
  /*=======================*/
  /*====colorPalette=======*/
  --first_color-txt: #212121;
  --secondary_color-txt: #757575;
  --third_color-txt: #ffffff;
  --first-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --button-accent-color: #2196f3;
  /*========================*/
  /*=======margins and paddings===*/
  --main-retreat: 94px;
  --first-retreat: 50px;
  --secondary-retreat: 30px;
  --portolio-card-margin: 20px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  display: block;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--first_color-txt);
}

.hero,
.accent-title,
.team-card__person-wrap,
.what-we-do {
  text-align: center;
}

.our-team,
.our-work,
.our-clients {
  padding-top: var(--main-retreat);
  padding-bottom: var(--main-retreat);
}

.section-portfolio {
  padding: var(--main-retreat) 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.accent-title {
  font-weight: var(--secondary_font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: var(--first-retreat);
}

.card-description {
  color: var(--secondary_color-txt);
  font-size: var(--secondary_font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:focus, .social-list__link:hover {
  background-color: var(--button-accent-color);
  outline: none;
}

.social-list__icon {
  fill: #AFB1B8;
}
.social-link:hover .social-list__icon, .social-link:focus .social-list__icon {
  fill: var(--third_color-txt);
}

.logo {
  color: inherit;
  font-family: "raleway", sans-serif;
  font-weight: var(--secondary_font-weight);
  font-size: 26px;
  line-height: 1.19;
  margin-right: var(--main-retreat);
}

.logo__part {
  color: var(--button-accent-color);
}

.logo--dark-theme {
  color: var(--third_color-txt);
  margin-bottom: 20px;
}

.accent-button {
  font-family: inherit;
  font-weight: var(--secondary_font-weight);
  font-size: var(--secondary_font-size);
  line-height: 1.87;
  min-width: 200px;
  background-color: var(--button-accent-color);
  color: var(--third_color-txt);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent-button:hover, .accent-button:focus {
  background-color: #188CE8;
}

.module-subtitle {
  text-transform: uppercase;
  font-size: var(--main_font-size);
  font-weight: var(--secondary_font-weight);
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third_color-txt);
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--button-accent-color);
  outline-color: var(--button-accent-color);
}

.subcat__description {
  font-size: var(--main_font-size);
  line-height: 1.71;
  color: var(--secondary_color-txt);
  letter-spacing: 0.03em;
}

.development-panel__button {
  font-family: inherit;
  background-color: var(--secondary-bg-color);
  font-weight: var(--third_font-weight);
  font-size: var(--secondary_font-size);
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.development-panel__button:hover, .development-panel__button:focus {
  background-color: var(--button-accent-color);
  color: var(--third_color-txt);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.development-panel {
  display: flex;
  justify-content: center;
  margin-bottom: var(--first-retreat);
}

.development-panel__element:not(:first-child) {
  margin-left: 8px;
}

header {
  border-bottom: 1px solid #ECECEC;
}
header .container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: inherit;
  font-weight: var(--third_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: var(--button-accent-color);
}
.nav__link:focus:focus::after, .nav__link:focus:hover::after, .nav__link:hover:focus::after, .nav__link:hover:hover::after {
  transform: scaleY(1);
}

.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transform: scaleY(0);
  transition: transform 500ms;
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: var(--first-retreat);
}

.contact-inf {
  display: flex;
  margin-left: auto;
}

.contact-inf__link {
  color: var(--secondary_color-txt);
  font-weight: var(--third_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-inf__link:hover, .contact-inf__link:focus {
  color: var(--button-accent-color);
}

.contact-inf__link--email-retreat {
  margin-right: var(--first-retreat);
}

.contact-inf__icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--secondary_color-txt);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-inf__link:hover .contact-inf__icon, .contact-inf__link:focus .contact-inf__icon {
  fill: var(--button-accent-color);
  border-color: var(--button-accent-color);
  outline: none;
}

.nav__active {
  color: var(--button-accent-color);
}
.nav__active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transform: scale(1);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero.jpg);
  background-size: cover;
  background-color: var(--first-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--third_color-txt);
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
}

.our-work__description-title {
  font-weight: var(--secondary_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-work__list-info {
  display: flex;
  margin-left: -30px;
}

.our-work__item-info {
  flex-basis: calc(25% - 30px);
  margin-left: var(--secondary-retreat);
}

.our-work__svg-list {
  display: flex;
}

.our-work__svg-wrap {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: var(--secondary-retreat);
  padding: 25px 100px;
}
.our-work__svg-wrap:not(:first-child) {
  margin-left: var(--secondary-retreat);
}

.what-we-do {
  padding-bottom: var(--main-retreat);
}

.what-we-do__product-cat {
  display: flex;
  margin-left: -30px;
}

.what-we-do__product-item {
  position: relative;
  margin-left: var(--secondary-retreat);
  flex-basis: calc(33.3333333333% - 30px);
}

.what-we-do__product-description {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  padding: 27px 0px;
}

.our-team {
  background-color: var(--secondary-bg-color);
}

.team-card {
  display: flex;
  margin-left: -30px;
}

.team-card__item {
  margin-left: var(--secondary-retreat);
  flex-basis: calc(25% - 30px);
}

.team-card__person-wrap {
  background-color: var(--third_color-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0px;
}

.team-card__person-name {
  font-weight: var(--third_font-weight);
  font-size: var(--secondary_font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-clients__list {
  display: flex;
  justify-content: space-between;
}

.our-clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover, .our-clients__link:focus {
  fill: var(--button-accent-color);
  border-color: var(--button-accent-color);
  outline: none;
}

.our-clients__item {
  fill: #AFB1B8;
}

.footer-section {
  background-color: var(--first-bg-color);
  padding: 60px 0px;
}
.footer-section .container {
  display: flex;
  align-items: baseline;
}

.adress-section__full-info {
  color: var(--third_color-txt);
  font-size: var(--main_font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.adress-section__connection-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--main_font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress-section__connection-item:not(:last-child) {
  margin-bottom: 9px;
}

.join-us__box {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.join-us__box .module-subtitle {
  margin-bottom: 4px;
}

.join-us__list {
  display: flex;
  justify-content: space-between;
}

.join-us__link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--third_color-txt);
}
.join-us__link:hover, .join-us__link:focus {
  fill: var(--third_color-txt);
}

.subscribe-box {
  margin-left: auto;
}

.subscribe-box__title {
  margin-bottom: var(--portolio-card-margin);
}

.subscribe-box__subcat-box {
  display: flex;
  align-items: flex-end;
}

.subscribe-box__input {
  font-size: var(--secondary_font-size);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 18px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}

.subscribe-box__button {
  position: relative;
  padding: 10px 28px;
  text-align: left;
}

.subscribe-box__button-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
  margin-right: 28px;
}

/*===========footer==========*/
.cards-set__name-product {
  font-weight: var(--secondary_font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-description--products-card {
  line-height: 1.87;
}

.cards-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards-set__item {
  margin-left: var(--secondary-retreat);
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: var(--secondary-retreat);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-set__item:hover, .cards-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-set__inf-wrapper {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.cards-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--third_color-txt);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: var(--main_font-weight);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-set__item:hover .cards-set__overlay {
  transform: translateY(0%);
}

.cards-set__img-wrap {
  position: relative;
  overflow: hidden;
}

/*===========form============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--third_color-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100%;
  width: 100%;
}
.contact-form textarea {
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
}

.contact-form__title {
  font-weight: var(--secondary_font-weight);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary_color-txt);
}
.contact-form__field:nth-child(-n+4) {
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color: var(--button-accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__field:focus .contact-form__input, .contact-form__field:hover .contact-form__input {
  fill: var(--button-accent-color);
  border-color: var(--button-accent-color);
}

.contact-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form__user-consent-wrap {
  display: flex;
  margin-bottom: var(--secondary-retreat);
  justify-content: center;
  margin-top: var(--portolio-card-margin);
}

.contact-form--send-btn {
  align-self: center;
  padding: 10px 55px;
  letter-spacing: 0.06em;
}

.contact-form__input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__input-icon, .contact-form__field:hover .contact-form__input-icon {
  fill: var(--button-accent-color);
  border-color: var(--button-accent-color);
}

textarea::placeholder {
  font-size: var(--main_font-size);
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__acept-checkbox {
  display: flex;
  align-items: center;
}
.contact-form__acept-checkbox a {
  color: var(--button-accent-color);
}
.contact-form__acept-checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}
.checkbox-input:focus + .contact-form__acept-checkbox::before {
  outline: 2px solid var(--button-accent-color);
}
.checkbox-input:checked + .contact-form__acept-checkbox::before {
  background-image: url(../images/svg/Vector.svg);
  background-color: var(--button-accent-color);
  border: none;
}

.contact-form__accept-description {
  margin-left: 7px;
  font-size: var(--main_font-size);
  line-height: 1.71;
  color: var(--secondary_color-txt);
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */