.footer-section {
    background-color: var(--first-bg-color);
    padding: 60px 0px;
    .container {
        display: flex;
        align-items: baseline;
    }
}



.adress-section__full-info {
    color: var(--third_color-txt);
    font-size: var(--main_font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}
.adress-section__connection-link{
        color: rgba(255, 255, 255, 0.6);
        font-size: var(--main_font-size);
        line-height: 1.71;
        letter-spacing: 0.03em;
    
}
.adress-section__connection-item:not(:last-child){
    margin-bottom: 9px;
}
.join-us__box {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    .module-subtitle {
        margin-bottom: 4px;
    }
}

.join-us__list {
    display: flex;
    justify-content: space-between;
}

.join-us__link {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--third_color-txt);
    &:hover,
    &:focus {
        fill: var(--third_color-txt);
    }
}

.subscribe-box {
    margin-left: auto
}
.subscribe-box__title{
    margin-bottom: var(--portolio-card-margin);
}
.subscribe-box__subcat-box{
    display: flex;
    align-items: flex-end;
}
.subscribe-box__input {
    font-size: var(--secondary_font-size);
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
}


.subscribe-box__button {
    position: relative;
    padding: 10px 28px;
    text-align: left;
    
}

.subscribe-box__button-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
    margin-right: 28px;
}

