.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-burger {
    @media screen and (min-width: 768px){
        display:none
    }
    line-height: 0;
}