.header {
    border-bottom: 1px solid #ECECEC;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav,
.contact-inf {
    display: none;
}

.mobile-burger {
    line-height: 0;
}