.our-team {
    background-color: var(--secondary-bg-color);
}

.team-card {
    display: flex;
    margin-left: -30px;
}

.team-card__item {
    margin-left: var(--secondary-retreat);
    flex-basis: calc(100% / 4 - 30px);
}

.team-card__person-wrap {

    background-color: var(--third_color-txt);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px 0px;

}


.team-card__person-name {
    font-weight: var(--third_font-weight);
    font-size: var(--secondary_font-size);
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}