.accent-title{
    font-weight: var(--secondary_font-weight);
    font-size: var(--third_font-size);
    line-height: 1.18;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 1.16;
    }
}
