.card-description {
    color: var(--secondary_color-txt);
    font-size: var(--secondary_font-size);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.card-description--card-position{
    margin-bottom: 16px;
}