.logo {
    color: inherit;
    font-family: 'raleway', sans-serif;
    font-weight: var(--secondary_font-weight);
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        
    }

}

.logo--heder-position {
    @media screen and (max-width: 767px) {
        padding: 16px 0px
    }
    @media screen and (min-width: 768px) {
        margin-right: 88px;
     }
    @media screen and (min-width: 1200px){
        margin-right: var(--main-retreat);
    }
}

.logo__part {
    color: var(--button-accent-color);
}


.logo--dark-theme {
    color: var(--third_color-txt);
    margin-bottom: 20px;
}