.module-subtitle {
    text-transform: uppercase;
    font-size: var(--main_font-size);
    font-weight: var(--secondary_font-weight);
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--third_color-txt);
}

.footer__module-subtitle{
    margin-bottom: var(--portolio-card-margin);
}