.subcat__description {
    font-size: var(--main_font-size);
    line-height: 1.71;
    color: var(--secondary_color-txt);
    letter-spacing: 0.03em;
    text-align: left;
}


.subcat__description-title {
    font-weight: var(--secondary_font-weight);
    font-size: var(--main_font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subcat__description-title--our-works-retreat {
    margin-bottom: 10px;
}

