h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    display: block;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: 'roboto', sans-serif;
    color: var(--first_color-txt);
}
.our-team,
.our-work,
.our-clients,
.footer-section{
    padding: var(--main-mobile-retreat) 0;
}