:root {
    /*======fontsVariable=====*/
    --main_font-weight: 400;
    --secondary_font-weight: 700;
    --third_font-weight: 500;
    --main_font-size: 14px;
    --secondary_font-size: 16px;
    --third_font-size: 28px;
    /*=======================*/

    /*====colorPalette=======*/
    --first_color-txt: #212121;
    --secondary_color-txt: #757575;
    --third_color-txt: #ffffff;
    --first-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --button-accent-color: #2196f3;

    /*========================*/

    /*=======margins and paddings===*/
    --main-retreat: 94px;
    --main-mobile-retreat: 60px;
    --first-retreat: 50px;
    --secondary-retreat: 30px;
    --portolio-card-margin: 20px;

}